name: .NET Core Build & Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore CommunityHelpers.Web/CommunityHelpers.Web.csproj

    - name: Build
      run: dotnet build CommunityHelpers.Web/CommunityHelpers.Web.csproj --no-restore

    - name: Test
    # This runs tests if you have a test project later
      run: dotnet test CommunityHelpers.Web/CommunityHelpers.Web.csproj --no-build --verbosity normal